.sidebar-nav {
    height: 100%;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 0.7rem;
    height: 100%;
}

.sidebar-library {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: 1rem;
    height: 5rem;
    background-color: var(--background-elevated-dark);
}

.sidebar-title {
    font-weight: bold;
    font-size: 1rem;
}

.sidebar-library-scroll {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0.5rem;
    height: 100%;
    flex-grow: 1;
}

.fa-plus {
    color: var(--spotify-texto-cinza);
}

.sidebar-card {
    margin: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--background-elevated-base);
}

.sidebar-card-title_container {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.sidebar-card-title {
    font-weight: 900;
}

.sidebar-card-text {
    margin-top: 0.5rem;
    font-size: 12px;
}

.sidebar-card-button {
    margin: 1rem;
    background-color: #ffff;
    border-radius: 2rem;
    border: none;
    color: var(--background-under);
    font-size: 12px;
    font-weight: 700;
    padding: 0.5rem 1rem;
    cursor: pointer; 
}

.sidebar-card-button_text {
    font-size: 15px;
}

.sidebar-footer {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.sidebar-footer-list {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
}

.sidebar-anchor {
    font-size: 11px;
    color: var(--spotify-texto-cinza);
    margin-right: 16px;
    margin-bottom: 8px;
}

.sidebar-footer-selector {
    display: flex;
    margin-bottom: 32px;
    margin-inline: 14px;
    border-radius: 32px;
    border: 1px solid var(--spotify-texto-cinza);
    padding: 6px 14px;
    width: fit-content;
}

.sidebar-footer-selector:hover {
    border: 1px solid var(--spotify-texto-branco);
    cursor: pointer;
}

.footer-button {
    color: var(--spotify-texto-branco);
    font-weight: bold;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

