.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

.center-nav-items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 0 15px;
    height: 45px;
    width: 100%;
    max-width: 475px;
    background-color: var(--background-elevated-base);
    border-radius: 25px;
    box-sizing: border-box;
}

.search-container:hover {
    background-color: var(--background-elevated-highlight);
}

.nav-logo {
    margin-left: 1.2rem;
    margin-right: auto
}

.nav-logo-link {
    display: flex;
    align-items: center;
}

.nav-logo-image {
    height: 32px;
    width: auto;
}

.home-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: var(--background-elevated-base);
    border-radius: 50%;
    background-size:cover;
    cursor: pointer;
}

.fa-house {
    font-size: 22px;
    color: var(--spotify-texto-cinza);
}

.fa-house:hover,
.home-icon:hover {
    color: var(--spotify-texto-branco);
    background-color: var(--background-elevated-highlight);
}

.fa-magnifying-glass {
    color: var(--spotify-texto-cinza);
    font-size: x-large;
}

.fa-folder-open {
    color: var(--spotify-texto-branco);
    font-size: x-large;
}

.search-divider {
    background-color: var(--spotify-texto-cinza);
    height: 25px;
    width: 1px;
}

.search-bar {
    flex-grow: 1;
    border-style: none;
    color: var(--spotify-texto-branco);
    background-color: transparent;
    padding: 0px;
    text-indent: 5px;
    font-weight: 700;
    font-size: 15px;
    outline: none;
}

.search-bar:focus {
    border: transparent;
    background-color: transparent;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-left: auto;
}

.nav-item {
    font-weight: bold;
    color: var(--spotify-texto-cinza);
}

.nav-item:hover {
    color: var(--spotify-texto-branco);
}

.nav-divider {
    background-color: #ffff;
    height: 25px;
    margin-inline: 16px;
    width: 1px;
}

.account-links {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.nav-item-login {
    border-radius: 50px;
    background-color: #ffff;
    height: 45px;
    width: 110px;
    color: var(--background-elevated-base);
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    line-height: 45px;
}
