.main {
    display: flex;
    flex-direction: column;
}

.trending-tops {
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding: 1.5rem 2.5rem;
    gap: 1rem;
}

.browser-title {
    color: var(--spotify-texto-branco);
    font-weight: bolder;
    font-size: 25px;
}

.trending-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 0.5rem;
}

.trending-card-template {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 150px;
    gap: 12px;
}

.imagem-card {
    height: 150px;
    width: auto;
    border-radius: 8px;
}

.card-title {
    color: var(--spotify-texto-branco);
    font-weight: 500;
    font-size: 15px;
}

.card-author {
    color: var(--spotify-texto-cinza);
    font-weight: 500;
    font-size: 14px;
}